<div class="name-view">
  <!--<fa-icon style="font-size: 28px" [icon]="faUser"></fa-icon>-->
  <h1 style="padding-left: 10px; font-weight: bold"> Bienvenido, {{ name }}</h1>
</div>
<div class="add-data-table">
  <div class="example-container">
    <div class="input-item total-carrito" style="background-color: #f4ad29; padding: 12px; width: 30%; font-family: 'Montserrat', sans-serif; font-weight: bold">
      <h1 formControlName="totalCarrito">Total del carrito: <strong style="font-size: 24px">{{ totalCarrito| number:'.2-2'  }}</strong></h1>
    </div>
    <form [formGroup]="form">
      <div style="display: flex;flex-wrap: wrap; justify-content: space-between">
        <div class="data-input">
          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Se ingresa el total a pagar por los productos">
              <mat-label style="color: #001D86">Ingrese Total Carrito </mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="precioVehicular">
            </mat-form-field>
          </div>
          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Es indispensable que tengas un ingreso mensual bruto mínimo de S/ 1,000.">
              <mat-label style="color: #001D86">Ingreso Mensual (S/.)</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="ingresoMensual">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Es el porcentaje de la cuota inicial a pagar para acceder al crédito vehicular">
              <mat-label style="color: #001D86">Cuota Inicial (%)</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="cuotaInicial">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Es el valor de la última cuota será el 40% o 50% del precio del auto según el plan.">
              <mat-label style="color: #001D86">Cuota Final (%)</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="cuotaFinal">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="La Tasa Nominal Anual o Efectiva se usa para calcular los pagos de interés de un préstamo o crédito.">
              <mat-select style="color: #001D86" formControlName="tipoTasaInteres">
                <mat-option value="nominal"><strong>TNA (%)</strong></mat-option>
                <mat-option value="efectiva"><strong>TEA (%)</strong></mat-option>
              </mat-select>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="tna">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Cubre y garantiza en caso de muerte o invalidez total y permanente del asegurado.">
              <mat-label style="color: #001D86">Seguro Degravamen</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="seguroDegravamen">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Es el plazo en meses para poder cancelar el monto del préstamo.">
              <mat-label style="color: #001D86">Plazo (Meses)</mat-label>
            </button>
            <mat-form-field>
              <mat-select formControlName="plazo">
                <mat-option value="24">24</mat-option>
                <mat-option value="36">36</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Durante este plazo usted no abonará nada, ni capital ni intereses de su cuota.">
              <mat-label style="color: #001D86">Plazo de Gracia Total (Meses)</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="plazoGraciaTotal">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Durante este plazo solo se abonará la porción de intereses de la cuota.">
              <mat-label style="color: #001D86">Plazo de Gracia Parcial (Meses)</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="plazoGraciaParcial">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Es la tasa de interés que sirve para calcular el valor que tienen hoy una serie de ingresos que serán recibidos más adelante.">
              <mat-label style="color: #001D86">Tasa de Descuento (COK)</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="tasaDescuentoCOK">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Se refiere al tiempo que hay entre dos fechas sucesivas en que los intereses se agregan al capital, pueden ser diarias, mensuales, quincenales, etc.">
              <mat-label style="color: #001D86">Periodo de capitalización</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="periodoCapitalizacion">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Es la regularidad con la que se realizaran los pagos del préstamo.">
              <mat-label style="color: #001D86">Frecuencia de pago</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="frecuenciaPago">
            </mat-form-field>
          </div>

          <div class="input-item">
            <button mat-raised-button
                    matTooltip="Es el número de días del año a tomar en cuenta para poder realizar los cálculos, siempre será 360.">
              <mat-label style="color: #001D86">N° de días por año</mat-label>
            </button>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="nDiasAnio" [readonly]="true">
            </mat-form-field>
          </div>

          <div class="input-item">
            <mat-label style="color: #001D86">Fecha Contrato</mat-label>
            <mat-form-field style="border-radius: 5px;">
              <input matInput [matDatepicker]="dp"><!--[formControl]="fechaContrato"-->
              <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </div>

      <button mat-raised-button color="primary" style="width: 50%; justify-content: center" (click)="CalcularTabla()">
        Calcular
      </button>
      <button
        type="button"
        (click)="resetForm()"
        mat-raised-button
        color="primary"
        class="px-6 py-2 font-bold text-lg hover:bg-transparent hover:text-primary-500 transition-all duration-300"
      >
        Limpiar
      </button>
    </form>

  </div>

  <div class="data-table-container">
    <br><br>
    <div class="data-table-column">
      <h2 style="margin: 0px 0 0px 0 !important"> Método Francés </h2>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="title">
          <mat-cell *matCellDef="let element"> {{ element.title }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
          <mat-cell *matCellDef="let element" class="center-text">
            {{ element.porct ? 'S/.' + element.value : element.value + '%' }}
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


      <br>
      <h2 style="margin: 0px 0 0px 0 !important"> Indicadores de rentabilidad </h2>
      <mat-table [dataSource]="dataSourceIndicadoresRentabilidad" class="mat-elevation-z8">


        <ng-container matColumnDef="title">
          <mat-cell *matCellDef="let element"> {{ element.title }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
          <mat-cell *matCellDef="let element" class="center-text">
            {{ element.porct ? 'S/.' + element.value : element.value + '%' }}
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <br>

    </div>

    <div class="data-table-column">
      <h2 style="margin: 0px 0 0px 0 !important"> Totales </h2>
      <mat-table [dataSource]="dataSourceTotales" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <mat-cell *matCellDef="let element"> {{ element.title }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
          <mat-cell *matCellDef="let element" class="center-text">
            {{ 'S/.' + element.value }}
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <br>

      <h2 style="margin: 0px 0 0px 0 !important"> Gastos Periodicos (Mensuales) </h2>
      <br>
      <form [formGroup]="form2">
        <div class="data-input-gastos-periodicos">
          <div class="input-item" style="margin-left: 13px;">
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="gps">
            </mat-form-field>
          </div>

          <div class="input-item" style="margin-left: 13px">
            <mat-label style="color: #001D86; text-align: left">Portes</mat-label>
            <mat-form-field style="border-radius: 5px;">
              <input matInput placeholder="Ingrese dato" formControlName="portes">
            </mat-form-field>
          </div>

        </div>
      </form>


    </div>

  </div>
</div>

<br>
<section class="table-data mat-elevation-z8" tabindex="0">

  <table mat-table [dataSource]="tableData" class="mat-table tabla-data-inside">

    <!-- Iterar sobre las columnas -->
    <ng-container *ngFor="let col of displayedColumnsTable; let iteracion = index" [matColumnDef]="col">
      <th style="min-width: 190px !important; border: 1px solid black;text-align: center; background-color: #ffe49c "
          mat-header-cell *matHeaderCellDef>
        {{ col }}
      </th>
      <!-- Iterar sobre las filas -->
      <td
        style="min-width: 190px !important; border: 1px solid black;text-align: center; background-color: {{iteracion === 0 ? '#c4e4b4' : '' }} ; color: {{element[col] < 0 ? '#FF0000' : ''}}"
        mat-cell *matCellDef="let element">

        {{
          element[col] === -1 ? '' : (iteracion === 1 || iteracion === 2) ? (parseFloat(element[col]).toFixed(2) + '%') : (iteracion === 4 || iteracion === 3 || iteracion === 0) ? (element[col]) : (Math.abs(+element[col])).toLocaleString('en-US', {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
          })
        }}
      </td>
    </ng-container>

    <!-- Renderizar las filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsTable; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTable"></tr>
  </table>
</section>

