<div id="home">
  <div class="toolbar-container">
    <div>
      <img src="assets/Recurso%206.png" height="50vh">
    </div>
    <ul style="list-style-type: none; margin: 40px 0 0 0; padding: 0;">
      <a href="#home-init">
        <li class="toolbar-item">HOME</li>
      </a>
      <a href="#minimarket-section">
        <li class="toolbar-item">ABOUT US</li>
      </a>
      <a href="#shop">
        <li class="toolbar-item">SHOP</li>
      </a>
      <a href="#contactus">
        <li class="toolbar-item">CONTACT US</li>
      </a>
      <a routerLink="/sign-in">
        <li class="toolbar-item" style="border: 3px solid white; border-radius: 10px;"><strong>SIGN-UP</strong></li>
      </a>
    </ul>
  </div>
  <div  id="home-init" class="carousel-container">
    <div class="left">
      <button mat-icon-button class="prev" (click)="prevSlide()">
        <mat-icon><strong>keyboard_arrow_left</strong></mat-icon>
      </button>
    </div>
    <div *ngFor="let slide of visibleSlides; let i = index" class="slide">
      <mat-card class="card">
        <div class="image-container">
          <img [src]="slide.imageUrl" [alt]="slide.title">
        </div>
      </mat-card>
    </div>
    <div class="right">
      <button mat-icon-button class="next" (click)="nextSlide()">
        <mat-icon><strong>keyboard_arrow_right</strong></mat-icon>
      </button>
    </div>
    <div class="dots">
          <span *ngFor="let slide of slides.slice(0, 4); let i = index" class="dot" [class.active]="currentSlide === i"
                (click)="goToSlide(i)"></span>
    </div>
  </div>
</div>

<section style="background-color: #efeeee" id="minimarket-section" class="grid-container">
  <div class="column">
    <div class="minimarket-description" style="background-color: white">
      <h1 style="color:#0eaaa2; " class=" font-bold text-3xl md:text-4xl text-center md:text-start">What is Minimarket <br><br>YOES?</h1>
      <p class="text-center " style="color:#0a716c;">Minimarket YOES connects you with reliable <br> vendors for your every need, whether it's  <br> fruits, groceries, or household essentials.</p>
    </div>
  </div>
  <div class="column" style="border: none;">
    <img src="./assets/lap3.png" style=" width: 100%" alt="Minimarket YOES" class="hidden lg:block w-72 ">
  </div>
</section>

<section class="list-container" style="background-color: #f1f1f1; margin-bottom: 20px; display: flex; justify-content: space-between; font-family: 'Montserrat', sans-serif;">
  <div style="width: 30%;">
    <ul class="custom-list" style="display: flex; margin-left: 25%; flex-direction: column; gap: 45px;">
      <li style="list-style-type: none; font-size: 20px; color:#0eaaa2; text-align: center; position: relative;">
        <img src="assets/tie2.jpg" width="170" style=" margin-left: -10%; position: absolute; top: -90px; left: 50%; transform: translateX(-50%);">
        <br> <br> <br> <br><br>
        "Groceries at your fingertips! <br>  Discover, choose, enjoy."
      </li>
    </ul>
  </div>
  <div style="width: 30%;">
    <ul class="custom-list" style="display: flex; margin-left: 25%; flex-direction: column; gap: 45px;">
      <li style="list-style-type: none; font-size: 20px; color:#0eaaa2; text-align: center; position: relative;">
        <img src="assets/sho.png" width="200" style=" margin-left: -18%; position: absolute; top: -90px; left: 50%; transform: translateX(-50%);">
        <br> <br> <br> <br><br>
        "Your grocery store in one click.  <br> Make shopping easy!"
      </li>
    </ul>
  </div>
  <div style="width: 30%;">
    <ul class="custom-list" style="display: flex; flex-direction: column; gap: 45px;">
      <li style="list-style-type: none; font-size: 20px; color:#0eaaa2; text-align: center; position: relative;">
        <img src="assets/fre1.png" width="200" style=" margin-left: -18%; position: absolute; top: -90px; left: 50%; transform: translateX(-50%);">
        <br> <br> <br> <br><br>
        "Quality, variety, convenience: <br> your online marketplace."
      </li>
    </ul>
  </div>
</section>
<section id="shop" class="minimarket-section">
  <div class="container">
    <h2>Welcome to Minimarket Shop</h2>
    <p>At Minimarket YOES we offer a wide variety of fresh and quality products. From groceries and vegetables to prepared meals and fresh fruits, you'll find everything you need in one place. Visit us and discover our products!</p>

    <div class="gallery">
      <div class="gallery-item">
        <img src="https://media.discordapp.net/attachments/1239050988195942465/1239056621808648293/pixelcut-export-removebg-preview.png?ex=664d6667&is=664c14e7&hm=b9f99a9c81f5491ebae86a45a5083c66e8d569732de7e8d2ab1a77bdd8a40171&=&format=webp&quality=lossless&width=389&height=389" alt="Abarrotes">
        <h3>Abarrotes</h3>
      </div>
      <div class="gallery-item">
        <img src="https://media.discordapp.net/attachments/1239050988195942465/1239056623616659476/productos-lacteos-mesa-madera.png?ex=664d6667&is=664c14e7&hm=eae3c2ff538e628954b61fbf1982ebcd8dcc12956a827c46b24bd43c0335d1a0&=&format=webp&quality=lossless&width=306&height=388" alt="Lacteos">
        <h3>Lácteos</h3>
      </div>
      <div class="gallery-item">
        <img src="https://media.discordapp.net/attachments/1239050988195942465/1239056622496645130/91630062_Delicious_uzbek_pastries_-11-removebg-preview.png?ex=664d6667&is=664c14e7&hm=5023a67370aaefb16f83906c9302fecee0d9e1253bc0c03efec66350c6b90d24&=&format=webp&quality=lossless&width=389&height=389" alt="Panisteria">
        <h3>Panisteria</h3>
      </div>
      <div class="gallery-item">
        <img src="https://media.discordapp.net/attachments/1239050988195942465/1239056622769410049/93505921_Meat_in_its_raw_state_-16-removebg-preview.png?ex=664d6667&is=664c14e7&hm=436da22955cb332881db9e1abe76d25c7447c33d6a1063d7e2381ec3676025e8&=&format=webp&quality=lossless&width=389&height=389" alt="Carnes">
        <h3>Carnes</h3>
      </div>
      <div class="gallery-item">
        <img src="https://media.discordapp.net/attachments/1239050988195942465/1239064832632815709/ver.webp?ex=664d6e0c&is=664c1c8c&hm=219af7ca0619abbc94d757d26260224848db9db763c6f2a720361b9063790b7f&=&format=webp&width=584&height=389" alt="Verduras">
        <h3>Verduras</h3>
      </div>
      <div class="gallery-item">
        <img src="https://media.discordapp.net/attachments/1239050988195942465/1239056622161235968/20197-removebg-preview.png?ex=664d6667&is=664c14e7&hm=0613ac274787b6961c1128c48d810f74acc53096d3ab28498e44555e70c1140d&=&format=webp&quality=lossless&width=586&height=389" alt="Comidas">
        <h3>Comidas Preparadas</h3>
      </div>
      <div class="gallery-item">
        <img src="https://media.discordapp.net/attachments/1239050988195942465/1239056623167606875/81678404_Mix_fruits_-7-removebg-preview.png?ex=664d6667&is=664c14e7&hm=1b2ffb84dacbeccb3b47dd54cf7a27e3c0767d9f7670a95921aea823d477a59b&=&format=webp&quality=lossless&width=389&height=389" alt="Frutas">
        <h3>Frutas Frescas</h3>
      </div>
    </div>
  </div>
</section>
<section id="contactus" class="contact-section">
  <div class="container">
    <h2>Contactus</h2>
    <p>If you have any questions, suggestions or simply want to contact us, do not hesitate to write to us. We are here to help you.</p>

    <form class="contact-form">
      <div class="form-group">
        <label for="name">Fullname:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>
      </div>
      <button type="submit" class="submit-button">Send Message</button>
    </form>
  </div>
</section>


<footer>
  <div class="footer">
    <div class="footer-column">
      <div class="footer-logo">
        <img src="assets/RecursoLogo.png" style=" width: 110%; margin-top: 36%; margin-left: -36%;" alt="Logo de YOES">
      </div>
    </div>
    <div class="footer-column">
      <h4 class="footer-title">MINIMARKET'S YOES</h4>
      <ul class="footer-list">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Become A Minimarket's YOES</a></li>
        <li><a href="#">In News</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Política de devoluciones</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h5 class="footer-title"><strong>HELP</strong></h5>
      <ul class="footer-list">
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Minimarket's Wallet FAQs</a></li>
        <li><a href="#">Minimarket's Wallet T&Cs</a></li>
        <li><a href="#">Vendor Connect</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="footer-title">SOCIAL NETWORKS</h4>
      <div class="footer-download">
        <a href="#"><img src="assets/download-on-the-app-store-apple-logo-svgrepo-com.svg" style="width: 130px"></a>
        <a href="#"><img class="footImg2" src="assets/download-on-the-app-store-apple-logo-svgrepo-com.svg"
                         style="width: 130px" alt=""></a>
      </div>
      <div class="footer-social">
        <a href="/#"><img src="assets/red.webp" style="cursor: pointer; width: 70%"></a>
      </div>
    </div>
  </div>

  <div
    style="text-align: center; font-size: 18px; background-color: #032726; color: white; padding: 20px; margin-top: -4%">
    <p>@Todos los Derechos Reservados YOES - 2024</p>
  </div>

</footer>

